.main-content {
  max-width: 144rem;
  margin: 0 auto;
}

.apresentation-content {
  min-width: 121.5rem;
  margin-left: 4.8rem; /* 13.5rem */
}

.apresentation-grid {
  display: grid;
  grid-template-columns: 400px 300px 380px 135px;
}

.header {
  min-height: 100vh;
  margin-bottom: 10rem;
}